<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kdtmybatis.kdt11.mapper.BoardMapper">
    <select id="selectAll" resultType="kdtmybatis.kdt11.domain.Board">
        SELECT * FROM board ORDER BY id DESC
    </select>
    <!--    파라미터 타입 넣어야하는데 안넣었음.. 근데 잘돌아가네..? parameterType="String"-->
    <select id="selectWriter" resultType="kdtmybatis.kdt11.domain.Board" >
        SELECT * FROM board WHERE writer = #{writer}
    </select>
    <insert id="insertBoard" parameterType="kdtmybatis.kdt11.domain.Board">
        INSERT INTO board (title, content, writer) VALUES (#{title}, #{content}, #{writer})
    </insert>
    <update id="updateBoard" parameterType="kdtmybatis.kdt11.domain.Board">
        UPDATE board SET title = #{title}, content = #{content}, writer = #{writer} WHERE id=#{id}
    </update>
    <delete id="deleteBoard" parameterType="int">
        DELETE FROM board WHERE id = #{id}
    </delete>
</mapper>